:root {
  --col: 0;
  --row: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 20vw 80vw;
  height: 100vh;
  background-color: lightgoldenrodyellow;
}

.controls{
  background-color: lightgray;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-grid {
  display: grid;
  grid-template-columns: repeat(var(--col), 1fr);
  grid-template-rows: repeat(var(--row), 1fr);
  height: 80vh;
  width: 80vh;
  border: 1px solid rgb(85, 85, 85);
}