:root {
  --rows-and-columns: 4;
  --blue: #0000ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80vw;
  max-height: 80vh;
  display: grid;
  grid-template-columns: repeat(var(--rows-and-columns), 1fr);
}

.container div {
  height: calc(80vh / var(--rows-and-columns));
  background-color: aqua;
  border: 1px solid var(--blue);
}